
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators justify-content-center">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <% (1..@articles.length - 1).each do |i| %>
      <% if i%3 == 0 %>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="<%= i/3 %>"></button>
      <% end %>
    <% end %>
  </div>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex flex-row">
        <% @articles.first(3).each_with_index do |article, index| %>
            <div class="card" onclick="flip(event)">
              <div class="card-body front">
                <h2>0<%= index + 1 %></h2>
                <h3><%= article.title %></h3>
                <p class="text-white"><%= article.description %></p>
                <footer><small>Article written by <%= article.user.username if article.user %></small></footer>
              </div>
              <div class="card-body back">
                <div class="card-btn">
                  <%= link_to "View", article_path(article) %>
                </div>
                <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                  <div class="card-btn">
                    <%= link_to "Edit", edit_article_path(article) %>
                  </div>
                  <div class="card-btn">
                    <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <% if @articles.length > 3 %>
      <% (1..@articles.length/3).each do |ofst|%>
        <div class="carousel-item">
          <div class="d-flex flex-row">
            <% @articles.limit(3).offset(ofst*3).each_with_index do |article, index| %>
              <div class="card" onclick="flip(event)">
                <div class="card-body front">
                  <h2>0<%= ofst * 3 + index + 1 %></h2>
                  <h3><%= article.title %></h3>
                  <p class="text-white"><%= article.description %></p>
                  <footer><small>Article written by <%= article.user.username %></small></footer>
                </div>
              <div class="card-body back">
                <div class="card-btn">
                  <%= link_to "View", article_path(article) %>
                </div>
                <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                  <div class="card-btn">
                    <%= link_to "Edit", edit_article_path(article) %>
                  </div>
                  <div class="card-btn">
                    <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
              </div> 
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
function flip(event){
	var element = event.currentTarget;
  front = element.childNodes[1];
  back = element.childNodes[3];
	if (element.className === "card") {
    if(element.style.transform == "rotateY(360deg)") {
      element.style.transform = "rotateY(0deg)";
      back.style.display = "none";
      front.style.display = "block";
    }
    else {
      element.style.transform = "rotateY(360deg)";
      front.style.display = "none";
      back.style.display = "block";

    }
  }
};
</script>