<footer class="py-4">
    <section>
        <ul>
            <li>
                <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, "https://twitter.com/_manish1017?t=vioAhkGezzxOacA5fxqXUQ&s=08" %>
            </li>
            <li>
                <%= link_to '<i class="fa fa-github"></i>'.html_safe, "https://github.com/manishkumarr1017" %>
            </li>
            <li>
                <%= link_to '<i class="fa fa-briefcase"></i>'.html_safe, "https://manish-kumarr.web.app/" %>
            </li>
            <li>
                <%= link_to '<i class="fa fa-facebook">'.html_safe, "https://m.facebook.com/100013918269506/" %></i>
            </li>
            <li>
                <%= link_to '<i class="fa fa-linkedin"></i>'.html_safe, "https://in.linkedin.com/in/manish-kumar-8bab07210" %>
            </li>
        </ul>
    </section>
</footer>